@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
.headFlyer {
	display: flex;
	display: block;
	width: 90%;
	text-align: center;
	margin-top: 2%;
	/* margin-bottom: 1rem; */
	font-family: "Crafty Girls", cursive;
	font-size: 38px;
	font-weight: normal;
	margin-bottom: 4%;
	margin-left: 6%;
	align-self: center;
	justify-content: center;
}
.postFlyer {
	/* margin: auto; */
	/* width: 90%;
	padding: 10px; */
	display: block;
	margin-left: 7%;
	margin-right: auto;
	width: 90%;
	margin-top: -40px;
}
.picF {
	display: block;
	display: flex;
	flex-wrap: wrap;
	width: 265px;
	height: auto;
	margin: 15px;
	box-shadow: 6px 6px 13px 3px gray;
	filter: brightness(92%) contrast(120%);
	margin-right: 30px;
	margin-left: 30px;
	/* width: 37%;
	height: auto;
	margin: 5px;
	box-shadow: 6px 6px 13px 3px gray;
	filter: brightness(92%) contrast(120%); */
}
.row1F {
	display: flex;
	margin-right: 10%;
}
.row2F {
	/* display: block; */
	display: flex;
	margin-right: 5%;
}
.row3F {
	display: flex;
	width: 50%;
	/* margin: auto; */
	justify-content: flex-start;
}
@media only screen and (max-width: 760px) {
	.row1F,
	.row2F,
	.row3F {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.row3F {
		width: 100%;
	}
	.picF {
		width: 75%;
		margin: 30px;
	}
}
